#index-left {
    float: left;
    width: 47%;
}
#index-left h1 {
    margin-bottom: 0;
}
#index-left p {
    text-align: justify;
}

#index-right {
    float: left;
    width: 49%;
    margin-left: 4%;
    margin-top: 8px;
    text-align: justify;
}

#index-beta, #index-beta h2 {
    color: #888;
}
