.progress-bar-horizontal {
  position: relative;
  border: 1px solid #949dad;
  background: white;
  overflow: hidden;
  margin: 2px;
  padding: 1px;
  width: 150px;
  height: 20px;
}

.progress-bar-thumb {
  position: relative;
  background: #d4e4ff;
  overflow: hidden;
  width: 100%;
  height: 100%;
  
}

.project {
    margin-bottom: 20px;
    padding:     5px 6px;
    border:      1px solid #AAAAAA;
    background:  #F9FAFA url('/public/images/field-background.gif') repeat-x left top;
    color:       #343434;
}

.project-left {
    float: left;
    width: 35%;
}

.project-right {
}
