<!DOCTYPE html>
<html>
    <head>
        <title>${request.action}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <link href="@{'/public/css/html5-reset.css'}" rel="stylesheet" />
        <style>
            body    { margin: 20px; padding: 0; font: 17px sans-serif; }
            table, h1, p { margin: 1em 0; }
            h1      { font-size: 24px; }
            td      { padding: 4px 6px; }
            th, td  { border: 1px solid black; border-collapse: separate; }
        </style>
    </head>
    <body>
        <h1>Management</h1>

        <section id="page-content">
            #{if errors.size()}
                <div class="flash-message flash-message-error">
                    <ul>
                        <li><u><b>Errors:</b></u></li>

                        #{list errors}
                            <li>${_.getKey()} - ${_}</li>
                        #{/}
                    </ul>
                </div>
            #{/}

            #{if flash?.success}<p class="flash-message">${flash.success}</p>#{/if}
            #{if flash?.error}<p class="flash-message flash-message-error">${flash.error}</p>#{/if}

            #{doLayout /}
        </section>
    </body>
</html>