body {
    font: 13px verdana;
    margin: 0;
    padding: 20px;
}

h1 {
    margin-top: 0;
}

table {
    border: 3px double #ccc;
    border-collapse: collapse;
    border-spacing: 0;
}
th, td {
    text-align: left;
    padding: 3px 5px;
    margin: 0;
}
thead th {
    background-color: #C1F0F4;
}
tbody th {
    background-color: #E0FFFF;
    font-size: 11px;
}
tbody td {
    border: 1px solid #ddd;
}

/* Lightbox */

#lightbox-white {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 16px;
    border: 16px solid orange;
    background-color: white;
    z-index:1002;
    overflow: auto;
}
#lightbox-fade {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
