#{extends 'layout.html' /}
#{set title: 'Your Account - ' + SITE_NAME /}

<h1>Your Account</h1>

#{list currentUser.projects, as: 'project'}
    <section class="project">
        <h2>${project}</h2>

        <div class="project-left">
            Page views:
            <div class="page-views" data-min="0" data-value="${project.pageViews}" data-max="${project.pageViewQuota}">  
                <div style="position:absolute;top:0;text-align:center;width:100%;font:statusbar;padding:2px;">
                    ${project.pageViews} / ${project.pageViewQuota}
                </div>   
            </div>
        </div>

        <div class="project-right">
            #{if project.waitingForPayment()}
                <a href="@{continueToPaypal(project.id)}"><strong>Payment required:</strong> ${project.currency.format(project.price)}</a>
            #{/}
            #{elseif !project.isFree()}
                Payment received (${project.currency.format(project.price)})
            #{/}
        </div>

        <div class="clearfix"></div>
    </section>
#{/}

<div style="float:left"><a href="@{Users.addProject}">Add another company/project...</a></div>
<div style="float:right"><a href="@{Authentication.logout}">Logout</a></div>

<script>projects.overviewPage();</script>
