#{form @Authentication.registerHandler(forward), method:'post', onsubmit:"this.submit.value='Registering...';this.submit.disabled=1;"}
    #{if flash.userRegisterError}<p class="flash-message">${flash.userRegisterError}</p>#{/if}

    #{include 'Users/_project-form.html' /}

    <p>
        <label for="reg-email">Email Address:</label>
        <br />
        <input type="email" required="required" name="email" value="${flash.email}" size="40"
               placeholder="name@example.com" tabindex="310" id="reg-email" />
    </p>

    <p>
        <label for="reg-password">Password:</label>
        <br />
        <input type="password" required="required" name="password" value="" size="15"
               tabindex="311" id="reg-password" />
    </p>

    <p>
        <input type="submit" value="Continue" tabindex="312" class="cta" name="submit" />
    </p>

    <p>
        By clicking the "Continue" button above, you confirm that you agree to our
        <a href="@{Application.terms}" target="_blank">terms of use and privacy policy</a>.
    </p>
#{/form}
