#{form @Authentication.registerHandler(forward), method:'post', id:'reg-form', onsubmit:"this.submit.value='Registering...';this.submit.disabled=1;"}
    #{if flash.userRegisterError}<p class="flash-message">${flash.userRegisterError}</p>#{/if}

    #{include 'Users/_project-form.html' /}

    <p>
        <label for="reg-email">Email Address:</label>
        <br />
        <input type="email" required="required" name="email" value="${flash.email}" size="40"
               placeholder="name@example.com" tabindex="310" id="reg-email" />
    </p>

    <p>
        <label for="reg-password">Password:</label>
        <br />
        <input type="password" required="required" name="password" value="" size="15"
               tabindex="311" id="reg-password" />
    </p>

    <p>
        <input type="checkbox" required="required" name="terms" tabindex="312"
               id="reg-terms" #{if flash.terms}checked#{/} />
        <label for="reg-terms">Do you agree to our
            <a href="@{Application.terms}" target="_blank">terms of use and
            privacy policy</a>?</label>
    </p>

    <p>
        <input type="submit" value="Continue" tabindex="313" class="cta" name="submit" />
    </p>
#{/form}
