*{
@param {models.Order} _arg
}*

<h3>${_arg.lines?.size()} Item${_arg.lines?.size()?.pluralize()}</h3>

<table>
    <thead>
        <tr>
            <th></th>
            <th>Item Title</th>
            <th>Items Price</th>
            <th>Shipping Price</th>
            <th>Total Price<br />(No Discounts)</th>
            <th>Total Price<br />(After Discounts)</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td></td>
            <td>Entire Order</td>
            <td>${_arg.currency.format(_arg.getUndiscountedItemsPrice())}</td>
            <td>${_arg.currency.format(_arg.getUndiscountedShippingPrice())}</td>
            <td>${_arg.currency.format(_arg.getFinalUndiscountedPrice())}</td>
            <td>${_arg.currency.format(_arg.getFinalDiscountedPrice())}</td>
        </tr>
    </tfoot>
    <tbody>
        #{list _arg.lines}
        %{ item = _.getItem() }%
        <tr>
            <td><img src="${item.mainImageUrl110}" alt="" width="110" height="110" /></td>
            <td>#{items/link item /}</td>
            <td>${_arg.currency.format(_.getUndiscountedItemsPrice())}</td>
            <td>${_arg.currency.format(_.getUndiscountedShippingPrice())}</td>
            <td>${_arg.currency.format(_.getFinalUndiscountedPrice())}</td>
            <td>${_arg.currency.format(_.getFinalDiscountedPrice())}</td>
        </tr>
        #{/}
    </tbody>
</table>

<hr />
