<h2>How it works</h2>

<ul>
    <li><b>Include our JavaScript</b> file on your website.</li>
    <li><b>Write CSS</b> to alter your page design. It's so easy because web developers
        already know how to write CSS!</li>
    <li>We automatically decide which users will see each design, and gather statistics
        about how each design performs.</li>
    <li><b>We send you a detailed, interactive report</b>, so you can make an informed
        design descision, <i>proven</i> to improve conversion rates, make users stay
        longer, or reach your goal!</li>
</ul>
