#{extends 'meta/Meta/layout.html' /}
#{set title: 'About ' + SITE_NAME /}

<article>
    <h1>About ${SITE_NAME}</h1>

    <p>${SITE_NAME} was created to fill a need: that makers of handmade items should be able to sell their items online, easily and without high commissions.</p>

    <h2>Before ${SITE_NAME}</h2>

    <p>Others have tried to fill this need before.</p>

    <p><strong>Etsy</strong> grew fast, and is now a popular place to buy and sell handmade
        items. However, Etsy take 3.5% commision off all items sold and has become filled
        with mass-manufactured items. Worse still, Etsy has taken
        <a href="http://www.crunchbase.com/company/etsy">$51.6 million USD in funding</a> from
        venture capital firms. This means they need to give those firms a large return on investment. It has become apparant to most sellers that Etsy no longer has the interests of it's users in mind - they are too focused on making money.</p>

    <p><strong>Zibbet</strong> has also taken money from venture capitalists: about $60,000 AUD in 2009,
        and about $60,000 AUD in 2011. Since early 2011, the site has clearly been abandoned,
        and the business appears to be there only to
        extract as much money as possible from their dwindling number of sellers while they
        still can. This abandonment has left Zibbet with dozens of bugs and issues that 
        sellers constantly complain about (and get no good answer). More importantly, there 
        are almost no sales on Zibbet. We currently estimate the company doesn't have any
        full-time employees, even though we also estimate they can pay for five full-time.
        <br /><br />
        Zibbet's CEO is also alleged to have run an
        <a href="http://www.mint.com/blog/investing/iraqi-dinar-scam/">Iraqi dinar scam</a>
        - he is not to be trusted.</p>

    <h2>Why ${SITE_NAME} Is Different</h2>

    <p>We are here to make buying and selling handmade items easy and user-friendly. We will not sell out to investors - our users come first, always.</p>

    <p>We will move <strong>fast</strong> to add features and functionality that buyers and sellers need. Our development team has much experience in start-up companies and is planning to add one major new feature every 2-3 weeks.</p>

    <iframe width="425" height="349" src="http://www.youtube.com/embed/0kut6y2Tle0?hl=en&fs=1" frameborder="0" allowfullscreen></iframe>
</article>
