#{extends 'layout.html' /}
#{set title: SITE_NAME /}

<div id="index-left">
    <h1>${SITE_NAME} makes it easy to find the best, highest-converting page design.</h1>

    <p>While ${SITE_NAME} is in beta, it is <b>free</b> for up to 1,000 page views per website.</p>
</div>

<div id="index-right">
    <h3>How it works</h3>
    
    <ul>
        <li><b>Include our JavaScript</b> file on your website.</li>
        <li><b>Write CSS</b> to alter your page design. It's so easy because web developers
            already know how to write CSS!</li>
        <li>We automatically decide which users will see each design, and gather statistics
            about how each design performs.</li>
        <li><b>We send you a detailed, interactive report</b>, so you can make an informed
            design descision, <i>proven</i> to improve conversion rates, make users stay
            longer, or reach your goal!</li>
    </ul>

    <p>
        <a href="@{Authentication.register()}" class="call-to-action">Try it now</a>
        <span class="index-or-read-more">or <a href="@{features()}">read more</a></span>.
    </p>
</div>

<div class="clearfix"></div>

<div id="index-beta">
    <h3>Beta</h3>
    <p>Although we are confident that our methodology works, ${SITE_NAME} is in beta, so we
        can't make any promises. It is free for up to 1,000 page views per website, though!
        You have nothing to lose, and possibly a lot to gain.</p>
</div>
