#{extends 'layout.html' /}
#{set title: SITE_NAME + ' makes it easy to find the best, highest-converting page design, through A/B testing' /}

<div id="index-left">
    <h1>${SITE_NAME} makes it easy to find the best, highest-converting page design.</h1>

    <p>We make A/B testing easy!</p>

    <p>While ${SITE_NAME} is in beta, it is <b>free</b> for up to 1,000 page views per website.</p>
</div>

<div id="index-right">
    #{text/how-it-works /}
    #{text/try-it-now-button /}
</div>

<div class="clearfix"></div>

<div id="index-beta">
    <h2>Beta</h2>

    <p>Although we are confident that our methodology works, ${SITE_NAME} is in beta, so we
        can't make any promises. It is free for up to 1,000 page views per website, though!
        You have nothing to lose, and possibly a lot to gain.</p>

    #{text/tell-us-why-not /}
</div>
