#{extends 'layout.html' /}
#{set title: SITE_NAME /}

<div id="index-left">
    <h1>${SITE_NAME} makes it easy to find the best, highest-converting page design.</h1>

    <p>While ${SITE_NAME} is in beta, it is <b>free</b> for up to 1,000 page views per website.</p>
</div>

<div id="index-right">
    #{include 'Application/_how-it-works.html' /}
    #{include 'Application/_try-it-now-button.html' /}
</div>

<div class="clearfix"></div>

<div id="index-beta">
    <h2>Beta</h2>

    <p>Although we are confident that our methodology works, ${SITE_NAME} is in beta, so we
        can't make any promises. It is free for up to 1,000 page views per website, though!
        You have nothing to lose, and possibly a lot to gain.</p>

    <p>If you think ${SITE_NAME} is not right for you or your company, please <a href="mailto:${play.configuration.getProperty('application.teamEmailAddress')}">tell us</a> what is not good enough and features you need.</p>
</div>
