#{extends 'layout.html' /}
#{set title: 'Terms of Use and Privacy Policy - ' + SITE_NAME /}

<article>
    <h1>Terms of Use and Privacy Policy</h1>

    <p>These terms of use and the privacy policy are effective from 30th January
        2012.</p>

    <p>If you continue to browse and use this website, you are agreeing to comply
        with and be bound by the following terms and conditions of use, which
        govern ${SITE_NAME}'s relationship with you in relation to this website.
        If you disagree with any part of these terms and conditions, do not use
        our website.</p>

    <p>${SITE_NAME} may change these terms and conditions from time to time by
        updating this page. You should check this page from time to time to
        ensure that you are happy with any changes.</p>

    <p>The term '${SITE_NAME}' or 'us' or 'we' refers to the owner of the
        website. The term 'you' refers to the user or viewer of our
        website.</p>

    <h2>All Users of Our Site</h2>

    <p>The use of this website is subject to the following terms of use:</p>

    <ol>
        <li>Neither we nor any third parties provide any warranty or guarantee
            as to the accuracy, timeliness, performance, completeness or
            suitability of the information and materials found or offered on
            this website for any particular purpose. You acknowledge that such
            information and materials may contain inaccuracies or errors and we
            expressly exclude liability for any such inaccuracies or errors to
            the fullest extent permitted by law.</li>
        <li>Unauthorised use of this website may give rise to a claim for
            damages and/or be a criminal offence.
            "<a href="http://en.wikipedia.org/wiki/Web_scraping">Web scraping</a>"
            is unauthorised.</li>
        <li>This website may also include links to other websites. These links
            are provided for your convenience to provide further information.
            They do not signify that we endorse the website(s). We have no
            responsibility for the content of the linked website(s).</li>
        <li>Every effort is made to keep the website up and running smoothly.
            However, we take no responsibility for, and will not be liable for,
            the website being temporarily unavailable due to technical issues
            beyond our control.</li>
        <li>Your use of this website and any dispute arising out of such use of
            the website is subject to the laws of England.</li>
    </ol>

    <h2>Registered Users</h2>

    <ol>
        <li>Your use or purchase of any products on this website
            is entirely at your own risk, for which we shall not be liable. It
            shall be your own responsibility to ensure that any products or
            information available through this website meet your specific
            requirements.</li>
        <li>If you are unhappy with a purchase, we are not compelled to offer
            a refund, but this will be considered on a case-by-case basis at
            our discretion.</li>
        <li>If you use any of our products, you agree to take full responsibility
            and liability if any of your website's users take legal action
            for any reason caused by our product.</li>
        <li>If you use any of our products, the pages you place our tracking
            code on must be run on port 80. If the pages are on another port,
            the software will not work. This is due to cross-domain request
            restrictions.</li>
    </ol>

    <h2>Privacy Policy</h2>

    <ol>
        <li>We will use reasonable security measures to prevent data theft.</li>
        <li>We may gather any information about you and use it in any way.</li>
        <li>You may request details of personal information which we hold about
            you under the Data Protection Act 1998. A small fee will be payable.
            If you would like a copy of the information held on you please
            <a href="mailto:${play.configuration.getProperty('application.teamEmailAddress')}">email us</a>.
        </li>
    </ol>
</article>
