#{set 'scriptsInLayoutForAjax'}
<script>(function(){
document.head.getElementsByTagName("title")[0].textContent="#{get 'title' /}";
document.body.id="#{get 'bodyID' /}";
document.body.className="#{get 'bodyClass' /}";
document.getElementById('doc-canonical').href="#{get 'doc-canonical' /}";
document.getElementById('doc-og-title').content="#{get 'doc-og-title' /}";
document.getElementById('doc-og-type').content="#{get 'doc-og-type' /}";
document.getElementById('doc-og-url').content="#{get 'doc-og-url' /}";
document.getElementById('doc-og-image').content="#{get 'doc-og-image' /}";
})();</script>
#{/set}

*{
When this bug is fixed, enabled caching: http://play.lighthouseapp.com/projects/57987/tickets/983-cant-use-dolayout-inside-cache
}*
#{if cacheByURL && false}
    #{cache request.url}
        %{ play.Logger.info("Caching response for URL: %s", request.url) }%
        ${scriptsInLayoutForAjax.raw()}
        #{doLayout /}
        #{get 'moreStyles' /}
        #{get 'moreScripts' /}
    #{/}
#{/if}
#{else}
    ${scriptsInLayoutForAjax.raw()}
    #{doLayout /}
    #{get 'moreStyles' /}
    #{get 'moreScripts' /}
#{/else}
