*{
Optional args:
    metaDescription
    rssUrl
    rssTitle
    moreHead
    moreStyles
    moreScripts
    bodyID
    bodyClass
    (probably some others not documented...)
}*
<!DOCTYPE html>
#{if device?.ie}
    <!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
    <!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
    <!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
    <!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
    <!--[if gt IE 9]><!--><html class="ie no-js" lang="en"><!--<![endif]-->
#{/}
#{else}
    <html "♥♥♥" class="no-js" lang="en">
#{/}
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        #{if get('metaDescription')}
            <meta name="description" content="#{get 'metaDescription' /}" />
        #{/}

        *{ Stylesheets. }*
        <link rel="stylesheet" type="text/css" href="@@{Bundles.siteStyles}" />
        #{get 'moreStyles' /}

        *{ Javascript files and the variable 'moreScripts' are at the end of this file. }*

        <link rel="shortcut icon" type="image/x-icon" href="@{'/public/favicon.ico'}" />

        #{get 'moreHead' /}

        <script src="@@{TrackingBeta.clientScripts}"></script>
    </head>
    <body #{if bodyID != null} id="${bodyID.raw()}" #{/} #{if bodyClass != null} class="${bodyClass.raw()}" #{/} >
        <header>
            <nav>
                <a href="/" id="logo"></a>

                <ul id="menu">
                    <li><a href="@{Application.features}">Features</a></li>
                    <li>&bull;</li>
                    <li><a href="@{Application.demo}">Demo</a></li>
                    <li>&bull;</li>
                    <li><a href="mailto:${play.configuration.getProperty('application.teamEmailAddress')}">Contact Us</a></li>
                    <li>&bull;</li>
                    <li>
                        #{if currentUser}
                            <a href="@{Authentication.logout}">Logout</a>
                        #{/}
                        #{else}
                            <a href="@{Authentication.login(request.url)}">Login</a>
                        #{/}
                    </li>
                </ul>

                <div style="clear: both;"></div>
            </nav>
        </header>

        <section id="content">
            #{debug-form-errors errors /}
            #{if flash?.success}<p class="flash-message">${flash.success}</p><div style="clear: both;"></div>#{/if}
            #{if flash?.error}<p class="flash-message flash-message-error">${flash.error}</p><div style="clear: both;"></div>#{/if}

            #{doLayout /}
        </section>

        <footer>
            <p>
                &copy; ${SITE_NAME}
                -
                <a href="@{Application.index}">Home</a>
                -
                <a href="@{Application.terms}">Terms Of Use</a>
                -
                <a href="@{Application.privacy}">Privacy Policy</a>
                -
                <a href="mailto:${play.configuration.getProperty('application.teamEmailAddress')}">Contact Us</a>
            </p>
        </footer>

        *{ JavaScript. }*
        #{get 'moreScripts' /}
    </body>
</html>